<app-decorbar1></app-decorbar1>

<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
          <li><a routerLink="/">Home</a></li>
        <li>
            <div class="dropdown">
                <a routerLink="/professional" class="dropbtn">Professional</a>
                <div class="dropdown-content">
                  <a routerLink="/professional/savor">Savor</a>
                  <a routerLink="/professional/snek">Snek</a>
                </div>
              </div>
        </li>
        <li>
            <div class="dropdown">
                <a routerLink="/personal" class="dropbtn">Personal</a>
                <div class="dropdown-content">
                  <a routerLink="/personal/forensics">Forensics</a>
                  <a routerLink="/personal/roms">ROM Patching</a>
                </div>
              </div>
        </li>
        <li>
          <div class="dropdown">
              <a routerLink="/challenges" class="dropbtn">Challenges</a>
              <div class="dropdown-content">
                <a routerLink="/challenges/minesweeper">12 - Minesweeper</a>
                <a routerLink="/challenges/madness">14 - Sound of Madness</a>
                <a routerLink="/challenges/piratesort">15 - Pirate Sorting</a>
                <a routerLink="/challenges/piratepoker">16 - Pirate Poker</a>
                <a routerLink="/challenges/piratespades">16 - Pirate Spades</a>
              </div>
            </div>
      </li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>